Seleckyj.Yurij/Cinema/Biletiki.WindowsClient/Service References/Service/v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://itstep.org/BiletikiService/V1" elementFormDefault="qualified" targetNamespace="http://itstep.org/BiletikiService/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a5comp13:8080/biletiki/v1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biletiki.Contracts" />
  <xs:import schemaLocation="http://a5comp13:8080/biletiki/v1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:element name="GetAffiche">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="tns:AfficheRequestParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AfficheRequestParameters">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biletiki.Contracts" minOccurs="0" name="PagingInfo" nillable="true" type="q1:PagingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AfficheRequestParameters" nillable="true" type="tns:AfficheRequestParameters" />
  <xs:element name="GetAfficheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAfficheResult" nillable="true" type="tns:Affiche" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Affiche">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="Movies" nillable="true" type="q2:ReadOnlyCollectionOfMovievUYQzYjE" />
      <xs:element minOccurs="0" name="PagesCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Affiche" nillable="true" type="tns:Affiche" />
</xs:schema>