Seleckyj.Yurij/Cinema/Biletiki.WindowsClient/Service References/Service/v121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a5comp13:8080/biletiki/v1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biletiki.Contracts" />
  <xs:import schemaLocation="http://a5comp13:8080/biletiki/v1?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ReadOnlyCollectionOfMovievUYQzYjE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadOnlyCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Movie" Namespace="http://schemas.datacontract.org/2004/07/Biletiki.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biletiki.Contracts" name="list" nillable="true" type="q1:ArrayOfMovie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyCollectionOfMovievUYQzYjE" nillable="true" type="tns:ReadOnlyCollectionOfMovievUYQzYjE" />
  <xs:complexType name="ReadOnlyCollectionOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadOnlyCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="list" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyCollectionOfstring" nillable="true" type="tns:ReadOnlyCollectionOfstring" />
</xs:schema>