Alex.Manekovskiy/calculator-service-client/Service References/CalculatorServiceV1/calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://itstep.org/CalculatorSerice/V1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://itstep.org/CalculatorSerice/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://itstep.org/CalculatorSerice/V1/Imports">
      <xsd:import schemaLocation="http://localhost:1337/calculator?xsd=xsd0" namespace="http://itstep.org/CalculatorSerice/V1" />
      <xsd:import schemaLocation="http://localhost:1337/calculator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculatorService_GetPythons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPythons" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_GetPythons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPythonsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_GetParrots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParrots" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_GetParrots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParrotsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculatorService">
    <wsdl:operation name="GetPythons">
      <wsdl:input wsaw:Action="http://itstep.org/CalculatorSerice/V1/ICalculatorService/GetPythons" message="tns:ICalculatorService_GetPythons_InputMessage" />
      <wsdl:output wsaw:Action="http://itstep.org/CalculatorSerice/V1/ICalculatorService/GetPythonsResponse" message="tns:ICalculatorService_GetPythons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParrots">
      <wsdl:input wsaw:Action="http://itstep.org/CalculatorSerice/V1/ICalculatorService/GetParrots" message="tns:ICalculatorService_GetParrots_InputMessage" />
      <wsdl:output wsaw:Action="http://itstep.org/CalculatorSerice/V1/ICalculatorService/GetParrotsResponse" message="tns:ICalculatorService_GetParrots_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>