Alex.Manekovskiy/calculator-service-client/Service References/CalculatorServiceV2/calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://itstep.org/CalculatorSerice/V2" elementFormDefault="qualified" targetNamespace="http://itstep.org/CalculatorSerice/V2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFloatingPointPythons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parrotsCount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloatingPointPythonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloatingPointPythonsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloatingPointParrots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pythonsCount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloatingPointParrotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFloatingPointParrotsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>