Alex.Manekovskiy/calculator-service-client/Service References/CalculatorServiceV2/calculator3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/calculator_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/calculator_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidArguments">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArgumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProblemDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArguments" nillable="true" type="tns:InvalidArguments" />
</xs:schema>